@import '../../styles/sass/media-queries';

.container {
    max-width: 1200px;
    margin: 0 auto;

    @include respond-above(sm) {
        width: 95%;
    }

    @include respond-below(sm) {
        width: 90%;
    }

    @include respond-below(xs) {
        width: 90%;
    }
}