@import url('https://fonts.googleapis.com/css?family=Crimson+Text');

@import '../../styles/sass/variables';
@import '../../styles/sass/media-queries';
.postLayout {
    display: flex;
    max-width: 660px;
    margin: 10px auto;

    .blog-post {
        width: 100%;
    }

    h1, h2, h3, h4, h5, h6, p, ul, li {
        padding: 0px 20px 0px 20px;
    }

    .date {
        color: $type-faded;
        font-size: 1em;
        font-family: 'Source Sans pro', sans-serif;

        span {
            color: $primary-color;
            padding: 0px 5px 0px 5px;
        }
    }

    p {
        font-family: 'Crimson Text', serif;
        font-size: 1.25em;
    }

    ul, ol, li  {
        font-family: 'Crimson Text', serif;
        font-size: 1.1em;
    }

    hr {
        width: 60%;
        background-color: $primary-color;
        margin: 30px auto;
    }

    blockquote {
        border-left: 5px solid $primary-color;
        padding: 20px;
        font-family: 'Crimson Text', serif;
        font-size: 1.2em;
        line-height: 1.5em;
    }

    pre {
        border-radius: 0;
        padding: 20px;
        width: 100%;
        margin: 0;
        code {
            font-size: 1.2em;
        }
    }
}